
body
{
    background-size: cover;
}
.note
{
    font-size: 15px;
    color: black;
    background-color: red;
}
.heading
{
    font-size: 23px;
    width:100%;
    margin: 5px;
    background-color: purple;
}

#name
{
    width: 330px;
    height: 50px;
    font-size: 35px;
    border-radius: 125px;
    background-color: purple;
}
canvas
{
    margin-top: 100px;
    border-radius: 30px;
    border: 5px solid purple;
    fill: red;
}
